<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FacturacionDAM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FacturacionDAM.Properties.Settings>
            <setting name="BrowEmisoresSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowEmisoresLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowEmisoresState" serializeAs="String">
                <value>"Maximized"</value>
            </setting>
            <setting name="BrowClientesSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowClientesLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowClientesState" serializeAs="String">
                <value>"Maximized"</value>
            </setting>
            <setting name="BrowConceptosFacSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowConceptosFacLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowConceptosFacState" serializeAs="String">
                <value>"Maximized"</value>
            </setting>
            <setting name="BrowTiposIvaSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowTiposIvaLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowTiposIvaState" serializeAs="String">
                <value>"Maximized"</value>
            </setting>
            <setting name="BrowProductosSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowProductosLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowProductosState" serializeAs="String">
                <value>"Maximized"</value>
            </setting>
            <setting name="UltimoAnhoSeleccionado" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BrowFacemiState" serializeAs="String">
                <value>"Maximized"</value>
            </setting>
            <setting name="BrowFacemiSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowFacemiLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowProveedoresState" serializeAs="String">
                <value>"Normal"</value>
            </setting>
            <setting name="BrowProveedoresSize" serializeAs="String">
                <value>900, 600</value>
            </setting>
            <setting name="BrowProveedoresLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowFacrecState" serializeAs="String">
                <value>"Maximized"</value>
            </setting>
            <setting name="BrowFacrecSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BrowFacrecLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </FacturacionDAM.Properties.Settings>
    </userSettings>
</configuration>